

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garvit Jain - Web Developer Programmer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="contact.css">
</head>

<body>
    <div class="container">
        <div class="hamburger-icon" id="icon">
            <div class="icon-1" id="a"></div>
            <div class="icon-2" id="b"></div>
            <div class="icon-3" id="c"></div>
        </div>
        <div class="sidebar" id="sidebar-go">

            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/intro">My Intro</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-contact">

<form action=" /userdata " method="POST">
            <p>Name:</p>
            <input type="text" name="name"  id="name" placeholder="Enter your name here">
            <p>Email:</p>
            <input type="text" name="email" id="email" placeholder="Enter your Email here">
            <p>Contact info:</p>
            <input type="text" name="contact" id="contact" placeholder="Enter your Contact details here">
            <p>Address:</p>
            <input type="text" name="address" id="address" placeholder="Enter your Address here">


            <div class="buttons">
                 <button type="submit" class="btn" > Submit Info</button></a>
                 <button type="reset" class ="reset">Reset Info</button></a>
            </div></form>
        </div>
        <script src="script.js"></script>
     

</body>

</html>
