<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garvit Jain - Web Developer Programmer</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="hamburger-icon" id="icon">
            <div class="icon-1" id="a"></div>
            <div class="icon-2" id="b"></div>
            <div class="icon-3" id="c"></div>
        </div>
        <div class="sidebar" id="sidebar-go">

            <nav>
                <ul>
                   <li><a href="/">Home</a></li>
                    <li><a href="/intro">My Intro</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
        </div>
        <div class="main intro-main">
            
                <div class="devinfo">
                    <div class="name">Garvit Jain</div>
                    <div class="about">Developer, Desiner, Entrepreneur</div>
              <div class="intro">     <div class="about intro-about">An energetic and imaginative young web developer who is able to 
                work alongside other talented IT professionals in creating websites 
                to the very highest standards. I have a high awareness of industry 
                issues and trends, particularly in regard to accessibility, usability, 
                emerging technologies, and open source CMS. I am an ambitious 
                type who wants to get noticed, and has the drive and massive 
                energy needed to really make a difference to a project.
                Right now I am looking for an entry level position with an exciting 
                company that wants to attract talented people.</div>
                </div>
                
            </div>
          
        </div>

            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>